{% if not checkAuthenticated() %}
    <li>
        <a href="{{ urlFor('page.login') }}" class="nav-highlight">{{ translate("SIGNIN") }}</a>
    </li>
{% else %}
    {% include "navigation/user-card.html.twig" %}
{% endif %}